Repository GoogleCloudPlatform/gke-fleet-management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster, @jiayimeow, @apeabody, @corentone

feat: add helm-release (#48)
  .github/workflows/helm-release.yaml
Owners: @jiayimeow, @apeabody, @corentone

Update index.yaml
  index.yaml
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(fleet-charts): add argocd-clusterprofile-syncer (#45)
  fleet-charts/argocd-clusterprofile-syncer/Chart.yaml
  fleet-charts/argocd-clusterprofile-syncer/LICENSE
  fleet-charts/argocd-clusterprofile-syncer/templates/syncer.install.yaml
  fleet-charts/argocd-clusterprofile-syncer/values.schema.json
  fleet-charts/argocd-clusterprofile-syncer/values.yaml
Owners: @apeabody, @corentone

feat(fleet-charts): add argocd-mco-plugin
  fleet-charts/argocd-mco-plugin/Chart.yaml
  fleet-charts/argocd-mco-plugin/LICENSE
  fleet-charts/argocd-mco-plugin/templates/plugin.install.yaml
  fleet-charts/argocd-mco-plugin/values.schema.json
  fleet-charts/argocd-mco-plugin/values.yaml
Owners: @apeabody, @corentone

Update index.yaml
  index.yaml
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(fleet-charts): add argocd-mco-plugin (#43)
  fleet-charts/argocd-mco-plugin/Chart.yaml
  fleet-charts/argocd-mco-plugin/LICENSE
  fleet-charts/argocd-mco-plugin/templates/plugin.install.yaml
  fleet-charts/argocd-mco-plugin/values.schema.json
  fleet-charts/argocd-mco-plugin/values.yaml
Owners: @apeabody, @corentone

Update index.yaml
  index.yaml
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(fleet-charts): add orchestrator (#46)
  fleet-charts/orchestrator/Chart.yaml
  fleet-charts/orchestrator/LICENSE
  fleet-charts/orchestrator/crds/orchestra.multicluster.x-k8s.io_multikubernetesclusterplacements.yaml
  fleet-charts/orchestrator/templates/default/metrics_service.yaml
  fleet-charts/orchestrator/templates/manager/manager.yaml
  fleet-charts/orchestrator/templates/rbac/leader_election_role.yaml
  fleet-charts/orchestrator/templates/rbac/leader_election_role_binding.yaml
  fleet-charts/orchestrator/templates/rbac/metrics_auth_role.yaml
  fleet-charts/orchestrator/templates/rbac/metrics_auth_role_binding.yaml
  fleet-charts/orchestrator/templates/rbac/metrics_reader_role.yaml
  fleet-charts/orchestrator/templates/rbac/multikubernetesclusterplacement_editor_role.yaml
  fleet-charts/orchestrator/templates/rbac/multikubernetesclusterplacement_viewer_role.yaml
  fleet-charts/orchestrator/templates/rbac/role.yaml
  fleet-charts/orchestrator/templates/rbac/role_binding.yaml
  fleet-charts/orchestrator/templates/rbac/service_account.yaml
  fleet-charts/orchestrator/values.schema.json
  fleet-charts/orchestrator/values.yaml
Owners: @apeabody, @corentone

Update index.yaml
  index.yaml
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

chore(deps): update actions/setup-python action to v5.6.0 (#41)
  .github/workflows/helm-charts.yaml
Owners: @jiayimeow, @apeabody, @corentone

Delete composition-clusterprofile-to-argocd directory
  composition-clusterprofile-to-argocd/README.md
  composition-clusterprofile-to-argocd/composition.yaml
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Delete composition-clusterprofile-to-argocd directory (#50)
  composition-clusterprofile-to-argocd/README.md
  composition-clusterprofile-to-argocd/composition.yaml
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Add MCO overview docs page
  multi-cluster-orchestrator/README.md
  multi-cluster-orchestrator/docs/images/mco_architecture.svg
  multi-cluster-orchestrator/docs/images/mco_cluster_state_machine.svg
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Update multi-cluster-orchestrator/docs/overview.md
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Update multi-cluster-orchestrator/docs/overview.md
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Update multi-cluster-orchestrator/docs/overview.md
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Update multi-cluster-orchestrator/docs/overview.md
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Update overview.md
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Update overview.md
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(mco): add hello world sample
  .gitignore
  multi-cluster-orchestrator/README.md
  multi-cluster-orchestrator/samples/hello_world/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/Chart.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/LICENSE
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/applicationset.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/gateway.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/networking.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/placement.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/values.schema.json
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/values.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/main.tf
  multi-cluster-orchestrator/samples/hello_world/README.md
  multi-cluster-orchestrator/samples/hello_world/images/argocd.png
  multi-cluster-orchestrator/samples/hello_world/images/workloads.png
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(mco): add hello world sample (#47)
  .gitignore
  multi-cluster-orchestrator/README.md
  multi-cluster-orchestrator/samples/hello_world/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/Chart.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/LICENSE
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/applicationset.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/gateway.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/networking.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/templates/placement.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/values.schema.json
  multi-cluster-orchestrator/samples/hello_world/2-workload/charts/hello-world-application/values.yaml
  multi-cluster-orchestrator/samples/hello_world/2-workload/main.tf
  multi-cluster-orchestrator/samples/hello_world/README.md
  multi-cluster-orchestrator/samples/hello_world/images/argocd.png
  multi-cluster-orchestrator/samples/hello_world/images/workloads.png
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

Add MCO overview docs page (#51)
  multi-cluster-orchestrator/README.md
  multi-cluster-orchestrator/docs/images/mco_architecture.svg
  multi-cluster-orchestrator/docs/images/mco_cluster_state_machine.svg
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(mco): add gemma vllm samples
  multi-cluster-orchestrator/README.md
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/Chart.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/LICENSE
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/applicationset.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/gateway.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/networking.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/placement.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/values.schema.json
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/values.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/main.tf
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
  multi-cluster-orchestrator/samples/gemma_vllm/images/argocd.png
  multi-cluster-orchestrator/samples/gemma_vllm/images/workloads.png
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

refine
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/applicationset.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/placement.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

fix: update link to ClusterProfile sync doc
  multi-cluster-orchestrator/docs/overview.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

chore(deps): update golang docker tag to v1.24.3
  fleet-argocd-plugin/Dockerfile
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

feat(mco): add gemma vllm sample (#52)
  multi-cluster-orchestrator/README.md
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/Chart.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/LICENSE
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/applicationset.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/gateway.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/networking.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/placement.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/values.schema.json
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/values.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/main.tf
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
  multi-cluster-orchestrator/samples/gemma_vllm/images/argocd.png
  multi-cluster-orchestrator/samples/gemma_vllm/images/workloads.png
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

fix(deps): update kubernetes packages to v0.33.0
  argocd-clusterprofile-syncer/go.mod
  argocd-clusterprofile-syncer/go.sum
  fleet-argocd-plugin/go.mod
  fleet-argocd-plugin/go.sum
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

fix(deps): update module google.golang.org/api to v0.232.0
  fleet-argocd-plugin/go.mod
  fleet-argocd-plugin/go.sum
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

docs: fix gemma vllm formating
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

chore(deps): update us-docker.pkg.dev/gke-fleet-management/multicluster-orchestrator/argocd-placement-plugin docker tag to v0.1.0
  fleet-charts/argocd-mco-plugin/values.yaml
Owners: @apeabody, @corentone

chore(deps): update us-docker.pkg.dev/gke-fleet-management/multicluster-orchestrator/argocd-syncer docker tag to v0.1.0
  fleet-charts/argocd-clusterprofile-syncer/values.yaml
Owners: @apeabody, @corentone

chore(deps): update us-docker.pkg.dev/gke-fleet-management/multicluster-orchestrator/controller docker tag to v0.1.0
  fleet-charts/orchestrator/values.yaml
Owners: @apeabody, @corentone

docs: fix gemma vllm formating (#54)
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

fix links
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
  multi-cluster-orchestrator/samples/hello_world/README.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

fix links (#59)
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
  multi-cluster-orchestrator/samples/hello_world/README.md
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

add AR reader
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/hello_world/1-infrastructure/main.tf
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

update images
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

updates for ff
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

updated CRD, images, fields
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/assets/orchestra.multicluster.x-k8s.io_multikubernetesclusterplacements.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/1-infrastructure/main.tf
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/Chart.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/2-workload/charts/gemma-vllm-application/templates/placement.yaml
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
  multi-cluster-orchestrator/samples/gemma_vllm/images/workloads.png
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

.github/CODEOWNERS:

# Default team administering overall repo
* @GoogleCloudPlatform/connectgateway @GoogleCloudPlatform/gke-multicluster

.github/ @jiayimeow @apeabody @corentone
/fleet-charts/ @apeabody @corentone

# NOTE: GitHub CODEOWNERS locations:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-and-branch-protection

CODEOWNERS @apeabody @jiayimeow @corentone
.github/CODEOWNERS @jiayimeow @apeabody @corentone
docs/CODEOWNERS @jiayimeow @apeabody @corentone
