Repository GoogleCloudPlatform/gke-fleet-management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster, @jiayimeow, @apeabody, @corentone, @ostrain, @hdp617

docs(gemma_vllm): Update README.md
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
Owners: @apeabody, @corentone, @ostrain, @hdp617

docs(gemma_vllm): Update README.md (#65)
  multi-cluster-orchestrator/samples/gemma_vllm/README.md
Owners: @apeabody, @corentone, @ostrain, @hdp617

fix(deps): update module google.golang.org/api to v0.234.0
  fleet-argocd-plugin/go.mod
  fleet-argocd-plugin/go.sum
Owners: @jiayimeow, @corentone

fix(deps): update module sigs.k8s.io/controller-runtime to v0.21.0
  argocd-clusterprofile-syncer/go.mod
  argocd-clusterprofile-syncer/go.sum
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster

chore(CI) add golangci-lint.yml
  .github/workflows/golangci-lint.yml
Owners: @jiayimeow, @apeabody, @corentone

update for lint
  argocd-clusterprofile-syncer/cmd/main.go
  fleet-argocd-plugin/fleetclient/fleetclient.go
  fleet-argocd-plugin/main.go
Owners: @GoogleCloudPlatform/connectgateway, @GoogleCloudPlatform/gke-multicluster, @jiayimeow, @corentone

feat: add generated client
  multi-cluster-orchestrator/pkg/client/clientset/versioned/clientset.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/fake/clientset_generated.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/fake/doc.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/fake/register.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/scheme/doc.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/scheme/register.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/api_client.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/doc.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/fake/doc.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/fake/fake_api_client.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/fake/fake_multikubernetesclusterbinding.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/fake/fake_multikubernetesclusterplacement.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/generated_expansion.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/multikubernetesclusterbinding.go
  multi-cluster-orchestrator/pkg/client/clientset/versioned/typed/api/v1alpha1/multikubernetesclusterplacement.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/api/interface.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/api/v1alpha1/interface.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/api/v1alpha1/multikubernetesclusterbinding.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/api/v1alpha1/multikubernetesclusterplacement.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/factory.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/generic.go
  multi-cluster-orchestrator/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  multi-cluster-orchestrator/pkg/client/listers/api/v1alpha1/expansion_generated.go
  multi-cluster-orchestrator/pkg/client/listers/api/v1alpha1/multikubernetesclusterbinding.go
  multi-cluster-orchestrator/pkg/client/listers/api/v1alpha1/multikubernetesclusterplacement.go
Owners: @apeabody, @corentone, @ostrain, @hdp617

.github/CODEOWNERS:

# Default team administering overall repo
* @GoogleCloudPlatform/connectgateway @GoogleCloudPlatform/gke-multicluster

.github/ @jiayimeow @apeabody @corentone
/fleet-argocd-plugin/ @jiayimeow @corentone
/fleet-charts/ @apeabody @corentone
/multi-cluster-orchestrator/ @apeabody @corentone @ostrain @hdp617

# NOTE: GitHub CODEOWNERS locations:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-and-branch-protection

CODEOWNERS @jiayimeow @apeabody @corentone
.github/CODEOWNERS @jiayimeow @apeabody @corentone
docs/CODEOWNERS @jiayimeow @apeabody @corentone
